@{
    ViewData["Title"] = "Contact Page";
}


<div class="container">


    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12087.812082659602!2d29.9349389!3d40.763058!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a6c58f8afe6ad2a!2zw5Z6ZWwgR8O8dmVuIFBvbGlraWxpbmnEn2k!5e0!3m2!1str!2str!4v1629113060189!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>İletişim Detayları</h3>
            <p>
                Karabaş, Leyla Atakan Cd. No:6, 41040 İzmit/Kocaeli
            </p>
            <p>
                <b>Telefon</b>: (0222) 335 03 35
            </p>
            <p>
                <b>Faks</b>: (0222) 335 01 70
            </p>
            <p>
                <b>Email</b>:
                <a href="mailto:guven@gmail.com">
                   guven@gmail.com
                </a>
            </p>
            <p>
                <b title="diller">Konuşulan Diller</b>: İngilizce, Türkçe
            </p>
        </div>
    </div>    
</div>

