@{
    ViewData["Title"] = "Beyin ve Sinir Cerrahisi Page";
}



<div class="row">
    <div class="list-group row-cols-6">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/beyin-ve-sinir-cerrahisi.png" alt="">

            <p>
                <strong>Beyin ve Sinir Cerrahisi</strong><br>
            </p>

            <p>Beyin ve Sinir Cerrahisi (Nöroşirurji) Bölümü; teknolojideki yenilikler ile birlikte hızla gelişen, buna paralel olarak teşhis ve tedavide iyi sonuçlar alınabilen bir bölümdür. Beyin ve omurilik dokularının eskiden çok fazla yapılamayan girişimleri günümüzde, nöroradyolojik görüntüleme sistemlerinin mükemmelliği sayesinde (tanıma, doğru konumlandırma, ileri cerrahi teknoloji imkanları) güvenli bir şekilde yapılmaktadır.</p>

            <p><strong>Nöroşirurji beyin, omurilik ve sinir cerrahisidir.</strong></p>

            <p>Son yıllarda tanı yöntemlerinin, tedavide cerrahi ve cerrahi dışı yöntemlerin gelişmesi ile tüm dünyada insanlığa daha modern bir hizmet sunmaya başlayan Nöroşirurji, kaydedilen gelişmelerle düne dek imkansız sayılan tedavilerin gerçekleştirilmesini sağlıyor. Hastaların tanı ve tedavileri, teknolojinin bütün imkanlarından yararlanılarak hazırlanmış ve bu konuda özelleşmiş servis ve yoğun bakımda sürdürülüyor. Ameliyatlarda Nöromonitörizasyon kullanılıyor.</p>

            <p><strong>Spinal Cerrahi (Omurga ve Omurilik Cerrahisi)</strong></p>

            <p>Bel fıtığı ve boyun fıtığı ameliyatları, yaşlanmayla beraber oluşan omurilik kanalı daralmaları ve kireçlenmeler, omurga ve omurilik tümörleri, doğuştan gelen omurilik ve omurga bozuklukları, dejeneratif skolyoz tedavisi, mikrocerrahi yöntemler kullanılarak gerçekleştirilmektedir. Kaza yada osteoporozda oluşan omurgadaki kırıkları ve hatta omurga tümörleri bile lokal anestezi altında kifoplasti ve vertebroplasti gibi teknikler kullanılarak başarıyla tedavi edilebilmektedir.</p>

            <p><strong>Pediatrik Nöroşirürji</strong></p>

            <p>Yenidoğan ve pediatrik yaş gurubunda görülen beyin ve omurilik hastalıkları: tümörler, hidrosefali, belde kese (meningomyelosel, tethered kord) gibi hastalıklar başarı ile mikrocerrahi yöntemlerle tedavi edilmektedir.</p>

            <p><strong>Periferik Sinir Cerrahisi</strong></p>

            <p>Bütün sinirlerde meydana gelebilen karpal tünel sendromu gibi sinir basıları, sinir ve pleksus kesi ve yaralanmaları mikrocerrahi yöntemle tedavi edilmektedir.</p>

            <p><strong>Nöro-spinal Travma</strong></p>

            <p>Ülkemizde ve dünyada önemli bir sorun olan kafa ve omurga travmalarına güncel tedavi yaklaşımları kullanılmakta ve kafa travmaları ile omurga-omurilik travmalarında mikrocerrahi tedaviler teknolojinin de katkısıyla başarı ile uygulanmaktadır.</p>

            <p>
                <br>
                <strong>Uygulamalarımız;</strong>
            </p>

            <ul style="list-style-type:circle">
                <li>Beyin Tümörleri</li>
                <li>Beyin Kanamaları</li>
                <li>Doğuştan ortaya çıkan; Beyin ve Omurilik sistemi kist ve tümörleri</li>
                <li>Hidrosefali (beyinde su toplanması)</li>
                <li>Beynin Vasküler Hastalıkları</li>
                <li>Kafa Travmalarına Bağlı İntrakraniyal Kanamalar</li>
                <li>Omurga kayma ve kırıklar</li>
                <li>Lomber ve Servikal Mikrodiskektomi (bel ve boyun fıtığı)</li>
                <li>Kol ve Bacaklarda oluşan uyuşmalar (Carpal Tunel Sendromu, vb)</li>
                <li>Periferik Sinir Hastalıkları&nbsp;</li>
            </ul>
        </div>
    </div>

</div>

