@{
    ViewData["Title"] = "Check-Up Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/check-up-merkezi.png" alt="">

            <p>
                <strong>Check-Up</strong><br>
            </p>

            <p>
                Özel Ümit Hastanesi olarak öncelikli hedefimiz, sağlıklı olma halinizi ileri seviyelere taşımaktır. Bu hedef doğrultusunda yalnızca bugünü değil, geleceği de planlayarak hastalık ortaya çıkmadan önce gerekli önlemler, kişiselleştirilmiş check-up programlarımız ile alınmaktadır.&nbsp;
            </p>

            <p>
                <strong>CHECK-UP NEDİR?</strong><br>
                Check-up, sağlıklı bireylerin sağlık durumlarının genel değerlendirilmesi ve henüz şikâyete yol açmamış olası bir hastalığın tarama ile erken tanısıdır. Bazı hastalıklar ve özellikle kanser de erken teşhis son derece önemlidir. Bu nedenle check-up taramaları sonucunda bu tür hastalıkların erken teşhisi, tedavi başarısını da artırmaktadır.<br>
                Check-up yaptırmak birincil önlem olması açısından etkilidir. Yaygın kronik hastalıklar için risk faktörlerinin tanımlanması, belirgin semptomları olmayan hastalıkların belirlenmesi, doktorun insanları sağlıklı yaşam davranışlarına teşvik etmesine yardımcı bir yol olması ve son kontrolden bu yana klinik verilerin güncellenmesi ve karşılaştırılması amacıyla her sağlıklı bireyin en az yılda bir kez düzenli olarak check-up yaptırması hem yaşam süresi, hem de kalitesi açısından son derece büyük önem taşımaktadır.
            </p>

            <p>
                Check-up randevunuza gelirken dikkat etmeniz gerekenler;<br>
                • Daha önce yapılmış test ve diğer tetkik sonuçlarını beraberinizde getirin.<br>
                • Efor testi için spor kıyafet ve spor ayakkabılarınızı yanınızda getirmeyi unutmayın.<br>
                • En az 12 saat boyunca bir şey yemeden gelmeniz kan değerlerinizin doğru ölçülebilmesi için önemlidir. Bu sebeple bir önceki gece saat 12'den sonra gıda almamaya çalışın. (Yalnızca su içebilirsiniz.)<br>
                • Gebeyseniz ya da bu konuda kuşkularınız varsa işlemlere başlamadan önce mutlaka hekiminize bildirin.<br>
                • 3 gün öncesinden alkol tüketmeyin.<br>
                • Kadınlar için; Check up, mensturasyon (adet) günlerine rastlıyorsa randevunuzu erteleyin.<br>
                • Herhangi bir vitamin, mineral desteği kullanıyorsanız mutlaka hekiminize belirtin.
            </p>

            <p>
                Hangi hastalıklar check up ile erken teşhis edilebilir?<br>
                Kolesterol,Diyabet,Hipertansiyon,Kalp ve kapak hastalıkları,Akciğer hastalıkları,Böbrek hastalıkları,Akciğer kanseri,Kalın bağırsak kanseri,Karaciğer kanseri,Pankreas kanseri,Mesane kanseri,Tiroid kanseri,Erkeklerde prostat kanseri,Kadınlarda meme, rahim ve rahim ağzı kanserleri, Vitamin ve mineral eksiklikleri,Bazı kan hastalıkları
            </p>

            <p>*Kendinize önem verin, check-up yaptırın, sağlık durumunuzun farkında olun.</p>

        </div>
    </div>
</div>

