@{
    ViewData["Title"] = "Child Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/cocuk-sagligi-ve-hastaliklari.png" alt="">

            <p>
                <strong>Çocuk Sağlığı ve Hastalıkları</strong><br>
            </p>

            <p>
                Çocuk Sağlığı ve Hastalıkları Bölümümüzde; yenidoğan-16 yaş aralığındaki çocukların tedavisinin yanı sıra ileri dönem hastalıklardan korunma amaçlı olarak “Koruyucu Sağlık Hizmetleri” alanında da hizmet vermekteyiz.<br>
                <br>
                <strong>Bölümümüzde;</strong>
            </p>

            <ul>
                <li>Sağlam Çocuk Takibi</li>
                <li>Koruyucu Çocuk Sağlığı Hizmetleri</li>
                <li>Çocuk Hastalıklarının Erken Teşhis ve Tedavisi</li>
                <li>Büyüme ve Gelişmelerinin Değerlendirilmesi</li>
                <li>Aşı Uygulamaları ve Hasta Takibi ile birlikte Sosyal ve Psikolojik Gelişimlerinin Değerlendirilmesi ve Takibi</li>
                <li>Aşı Programı Oluşturulması ve Takibi</li>
                <li>Çocukluk Çağı Taramaları</li>
                <li>Beslenme Eğitimi ve Doğru Beslenme Önerileri</li>
                <li>Aile Eğitimi</li>
                <li>Çocukluk çağı astımı, idrar kaçırma</li>
                <li>Kronik hastalıklarda (sık enfeksiyon konjenital hastalıklar uygun, yerinde yakınlarının ve aile desteği)</li>
            </ul>

            <p><strong>Yenidoğan Bölümümüzde;</strong></p>

            <ul>
                <li>Pediatri uzmanı denetiminde gerçekleştirilen doğumlar</li>
                <li>Monitorizasyon ve Küvözde Takip</li>
                <li>Yenidoğan Sarılığı Takibi</li>
                <li>Emzirme Danışmanlığı ve Emzirme Problemlerinde Çözüm Önerileri</li>
                <li>Yenidoğan Bakımı Eğitimi hizmetlerimiz; alanlarında uluslararası tıp otoritelerinin onayından geçmiş en yeni, en doğru yöntemler ve çağdaş teknoloji ürünü araç ve gereçler kullanılarak hastalarımıza sunulmaktadır.</li>
            </ul>

            <p><strong>&nbsp;</strong></p>

        </div>
    </div>
</div>

