@{
    ViewData["Title"] = "Dermatology Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/dermatoloji.png" alt="">

            <p>
                <strong>Cildiye</strong><br>
            </p>

            <p>
                Dermatoloji Bölümümüzde, tüm deri hastalıklarının teşhis ve tedavisi konusunda uzman bir kadro ile, modern teknolojik yöntemler ve cihazlar kullanılarak yapılmaktadır.<br>
                Hizmet alanlarımız; deri hastalıkları, zührevi hastalıklar, saç ve tırnak hastalıklarını kapsar. Bölümümüzde hastalarımızın ayakta muayene, teşhis ve tedavilerinin yanı sıra gerektiği hallerde yatarak tedavileri de yapılabilmektedir.<br>
                Kozmetik Dermatoloji Bölümümüzde çağımızın en modern teknikleri&nbsp; kullanılmaktadır. Başta kırışıklıklar olmak üzere leke ve izler; peeling,&nbsp; kryoterapi, botox ve dolgu maddesi enjeksiyonları ile tedavi edilmektedir.
            </p>

            <p>
                <br>
                <strong>Dermatoloji Bölümümüzün hizmet alanına giren hastalıklar;</strong>
            </p>

            <ul>
                <li>Egzama ve Cilt Mantarları</li>
                <li>Benler (Dermatoskopi ile inceleme ve takibi)</li>
                <li>Deri tümörleri</li>
                <li>Lekeler (doğum, yaşlılık, güneş, vb.)</li>
                <li>Saç dökülmesi ve hastalıkları</li>
                <li>Hirsutizm (aşırı tüylenme)</li>
                <li>Kıl kökü iltihapları</li>
                <li>Vitiligo (Ala hastalığı)</li>
                <li>Akne</li>
                <li>Ürtiker (kurdeşen)</li>
                <li>Sedef Hastalığı</li>
                <li>Mikrobik deri hastalıkları</li>
                <li>Alerjik deri döküntüleri</li>
                <li>İlaç reaksiyonları</li>
                <li>Saç ve tırnak hastalıkları</li>
                <li>Behçet Hastalığı ve deri tutulumu olan bağ dokusu hastalıkları</li>
                <li>Yara ve yanıklar</li>
                <li>Nasır, siğil</li>
                <li>Cinsel yolla bulaşan hastalıklar (genital siğil, frengi, genital uçuk, HIV, vb.)&nbsp;</li>
            </ul>

            <p><strong>Dermatolojik uygulamalarımız;</strong></p>

            <ul>
                <li>Laboratuvar tanı incelemeleri</li>
                <li>Dermatoskopi</li>
                <li>Kriyoterapi (dondurma tedavisi)</li>
                <li>Elektrokoterizasyon (yakma tedavisi)</li>
                <li>İntralezyoner enjeksiyon</li>
                <li>Yara bakımı ve debridman</li>
                <li>Benlerin cerrahi exisyonu ve takibi</li>
                <li>Punch Biyopsi</li>
            </ul>

            <p><strong>&nbsp;</strong></p>

        </div>
    </div>
</div>

