@{
    ViewData["Title"] = "Emergency Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/acil-servis.png" alt="">

            <p>
                <strong>Acil Servis</strong><br>
                Hastanemizin acil servis hizmetleri, Acil Servis Bölümü tarafından yürütülmektedir. Modern cihazlarla donatılmış acil servisimiz deneyimli ve dinamik kadrosu ile 24 saat kesintisiz hizmet vermektedir. Acil Servis doktorlarımız, hastayı değerlendirerek ilk müdahalelerine yönelik tüm tetkik ve tedavi işlemlerini uyguladıktan sonra şikayete göre ilgili branşa yönlendirmesini yapmaktadır. Hastanemizde hizmet veren tüm branşlar tarafından acil servisimiz desteklenmektedir. Modern tıbbi cihazlar ile donatılmış olan acil servisimizde 6 yataklı gözlem odası, 1 enjeksiyon odası, 1 alçı ve pansuman odası, 1 acil müdahale (CPR) odası, 1 acil muayene odası, 1 septik müdahale odası bulunmaktadır. EKG ,defibrilator, monitör, standart donanımları olup, tam donanımlı ve kullanıma hazır ambulansımız bulunmaktadır. Acil servisimizin kolay erişilebilir bir konumda olması her branştan acil hastayı kolaylıkla kabul ve tedavi etme olanağı sağlamaktadır.
            </p>
        </div>
    </div>
</div>

