@{
    ViewData["Title"] = "Eyes Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/goz-sagligi-ve-hastaliklari.png" alt="">

            <p>
                <strong>Göz Hastalıkları</strong><br>
            </p>

            <p style="text-align:justify">
                Göz Hastalıkları Bölümümüzde, göz ile ilgili tıbbi ve cerrahi tüm tedavileri, alanında uzman doktorumuz ile ileri muayene ve tetkik cihazları kullanarak gerçekleştirmekteyiz. Hastalarımıza en gelişmiş teknolojiye dayalı tanı ve tedavi yöntemlerini sunmaktayız.<br>
                <br>
                <strong>Göz Hastalıkları Bölümümüzün hizmet alanları:</strong>
            </p>

            <p style="text-align:justify"><strong>Katarakt</strong>: Göz&nbsp;içindeki&nbsp;lensin&nbsp;saydamlığını kaybederek opak bir görünüm alması, göz merceğinin yoğunlaşmasıdır. Hastanın görmesini ve günlük yaşantısını olumsuz etkileyen kataraktın tek tedavi yönetimi cerrahidir.</p>

            <p style="text-align:justify"><strong>Multifokal</strong>: Hastaların hem uzak hem yakını yüksek kalitede görmesini sağlayan çok odaklı göz içi mercekleridir.</p>

            <p style="text-align:justify"><strong>Fakik &nbsp;(Göz İçi Lensi): </strong>Miyop&nbsp;, hipermetrop ve&nbsp;astigmat&nbsp;tedavisi için&nbsp;lazer tedavisine alternatif olarak uygulanan cerrahi fakik göz içi lens implantasyonudur.</p>

            <p style="text-align:justify"><strong>Glokom</strong>: Göz içi sıvısının görme hücreleri ve siniri üzerinde oluşturduğu yüksek basınçtır. Tedavi edilmezse görme kaybına neden olabilen glokom; ilaç, lazer ve cerrahi gibi farklı yöntemlerle tedavi edilebilmektedir.</p>

            <p style="text-align:justify"><strong>Üveit</strong>: Üveit, gözün üvea adını verdiğimiz iris, koroid ve silier cisimden oluşan tabakalarının bir grup enflamatuar hastalığıdır. Tedavi edilmezse glokom ve katarakt gibi hastalıklara neden olur.</p>

            <p style="text-align:justify"><strong>Retina Hastalıkları</strong>: Gözün arkasında bulunan, ışığı algılayarak beyne ileten sinir tabakası retinada; diyabetik retinopati, makula dejenerasyonu (sarı nokta hastalığı), &nbsp;retina dekolmanı gibi hastalıklar meydana gelebilmektedir. Bu hastalıkların erken teşhis ve koruyucu tedavi hayati önem taşır.</p>

            <p style="text-align:justify"><strong>Pediatrik Oftalmoloji</strong>: Göz ile ilgili şikayeti olan çocuk, yaşı ne olursa olsun pediatrik oftalmoloji alanında doktorların gözetiminde muayene ve tedavi edilmelidir.</p>

            <p style="text-align:justify"><strong>Oküloplastik Cerrahi</strong>: Oküloplastik cerrahi; göz kapakları, gözyaşı yolları ve orbita adı verilen göz etrafındaki kemik odacığın içindeki yapıları etkileyen bozukluklar ve bunların cerrahi tedavisi ile ilgili göz birimidir.</p>

            <p style="text-align:justify"><strong>Keratokonus: </strong>Gözün saydam tabakasının yani korneanın&nbsp;ilerleyici miyop&nbsp;ve&nbsp;astigmat&nbsp;ile birlikte incelmesi ve sivrileşmesiyle oluşan bir hastalıktır.&nbsp;Tedaviye cevap vermez, hastalık ilerler ve görme keskinliği çok düşerse kornea nakli gerekebilir.</p>

            <p style="text-align:justify"><strong>Şaşılık</strong>: Her iki gözün birbiriyle olan paralellini yitirmesidir. Görme kalitesi ve estetik açıdan olumsuz bir görüntüye sebep olur.</p>

            <p style="text-align:justify">&nbsp;</p>

        </div>
    </div>
</div>

