@{
    ViewData["Title"] = "General Surgery Page";
}


<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/genel-cerrahi-1.png" alt="">

            <p>
                <strong>Genel Cerrahi</strong><br>
            </p>

            <p>
                Genel Cerrahi Bölümümüzde,&nbsp;en son teknolojik&nbsp;yenilikleri&nbsp;içeren uygulamalar ve konusunda uzman, deneyimli kadro ile&nbsp;24 saat hizmet vermekteyiz.<br>
                Bölümümüz; geniş kapsam ilgi alanı sebebiyle birçok disiplin ile işbirliği içinde çalışmaktadır. Uzman kadro ve gelişmiş alt yapısı sayesinde her biri ayrı uzmanlık gerektiren çeşitli alt branşlarda da hizmet vermektedir.<br>
                Hastanemiz bünyesindeki ileri teknolojik ve modern laboratuvarlar, Radyoloji ünitesi, operasyon öncesi tanı ve ileri tetkik çalışmaları ile operasyon sonrası kontrol ve takip işlemleri başarıyla gerçekleştirilmektedir.<br>
                Uzman hekimlerden oluşan acil cerrahi ekibimiz, her türlü yumuşak doku travması, apandisit, safra kesesi, mide ve bağırsakların&nbsp;iltihabi hastalıkları gibi sorunlarınız için 24 saat görev başındadır.<br>
                &nbsp;<br>
                Klasik cerrahi yöntem ve tedavilerinin yanı sıra, Genel Cerrahi alanında son yılların en önemli teknolojik gelişmelerinden biri olan; “Laparoskopik (kapalı) cerrahi”yi, hastanemizde safra kesesi taşı ameliyatları, apandisit ve kasık fıtığı hastalıklarının tedavisinde başarıyla uygulamaktayız.<br>
                &nbsp;<br>
                <strong>Genel Cerrahi Bölümümüzün hizmet alanına giren hastalıklar;</strong>
            </p>

            <ul>
                <li>Akut ve kronik pankreatitler</li>
                <li>Ameliyat sonrası oluşan fıtıklar</li>
                <li>Anorektal hastalıklar (tümörler, hemoroit, anal fissür-fistül)</li>
                <li>Barsak tıkanmaları, kolon-rektum tümörleri ve iltihabi hastalıkları</li>
                <li>Çeşitli yumuşak doku enfeksiyonları</li>
                <li>Dalak hastalıkları</li>
                <li>İnce barsak hastalıkları</li>
                <li>Karaciğerin iyi ve kötü huylu tümörleri ve kistleri</li>
                <li>Karın duvarı ve kasık fıtıkları</li>
                <li>Meme kanseri ve memenin iyi huylu tümörleri</li>
                <li>Mide kanseri</li>
                <li>Pankreas kist ve tümörleri</li>
                <li>Safra kesesi ve yollarındaki taş ve tümörler</li>
                <li>Tıkanma sarılıkları</li>
                <li>Tiroit bezi hastalıkları (Guatr, Hipertiroidi)</li>
                <li>Travmalar ve acil cerrahi (apandisit vb.)</li>
                <li>Biyopsiler</li>
                <li>Yanık tedavisi ve cerrahisi</li>
                <li>Pilonidal Sinüs (Kıl dönmesi)</li>
                <li>Bazı diğer cerrahi müdahaleler (sünnet, tırnak batması, yağ bezeleri vb.)</li>
            </ul>


        </div>
    </div>
</div>

