@{
    ViewData["Title"] = "Internal Medicine Page";
}




<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/ic-hastaliklari.png" alt="">


            <p>
                <strong>Dahiliye</strong><br>
            </p>

            <p>
                Dahiliye bölümümüzde, yetişkin hasta grubunun cerrahi dışı sağlık sorunlarının tamamında ilk başvuru ve çözüm merkezi olarak hizmet vermekteyiz. Bölümümüz, diğer klinik branşlara temel teşkil etmekle birlikte, ateşli hastalıklardan metabolik hastalıklara, böbrek hastalığından karaciğer hastalıklarına, mide-barsak hastalıklarından kas hastalıklarına tüm sorunların öncelikli başvuru ve çözüm merkezidir.<br>
                <br>
                Hastalarımızın ilk muayenesini ve gerekli tahlil ve tetkik incelemelerinin yanısıra, yatan hastalarımızda tedavi, konsültasyon, ameliyat öncesi hazırlıklar ve gerekli diğer girişimleri de dahiliye bölümümüz tarafından sağlamaktayız.<br>
                <br>
                <strong>Acil Dahiliye</strong>
            </p>

            <ul>
                <li>Ayakta Tedavi ve Poliklinik Hizmetleri</li>
                <li>Eklem ve bağışıklık sistemi hastalıkları</li>
                <li>Mide, barsak ve karaciğer hastalıkları</li>
                <li>Kansızlık, demir eksikliği anemisi, vb.</li>
                <li>Enfeksiyon hastalıkları</li>
                <li>Solunum yolu hastalıkları</li>
                <li>Böbrek ve idrar yolu hastalıkları</li>
                <li>Hormonal hastalıklar</li>
                <li>Hipertansiyon</li>
                <li>Diyabet (şeker hastalığı)</li>
                <li>Tiroit hastalıkları (Guatr)</li>
            </ul>

            <p><strong>Koruyucu Hekimlik ve Check-up</strong></p>

            <ul>
                <li>Aşılamalar</li>
                <li>Kan basınç kontrolü</li>
                <li>Kolesterol kontrolü</li>
                <li>Şeker hastalığı taraması</li>
                <li>Kalp Damar Hastalıkları taraması</li>
                <li>PPD (Tüberküloz testi)</li>
                <li>Tiroit fonksiyon bozukluğu taraması</li>
                <li>Osteoporoz taraması</li>
                <li>Obezite taraması</li>
                <li>Riskli grupta Hepatit taraması</li>
                <li>Riskli grupta HIV testi</li>
                <li>Riskli hasta gruplarında kanser taraması</li>
            </ul>

        </div>
    </div>
</div>

