@{
    ViewData["Title"] = "Neurology Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/noroloji.png" alt="">


            <p>
                <strong>Nöroloji</strong><br>
            </p>

            <p>
                <br>
                Nöroloji polikliniğimiz; tüm beyin ve sinir sistemi hastalıklarında tanı ve tedavi amaçlı olarak poliklinik, acil servis ve yataklı servisleri ile hizmet vermektedir. Tanı ve kısa süreli tedavi hizmetleri yanı sıra multidisipliner bir anlayışla kronik nörolojik hastalıkların uzun süreli tedavi ve takibi de hastanemizce gerçekleştirilmektedir<br>
                <br>
                <strong>Nöroloji bölümümüzün hizmet alanına giren hastalıklar;</strong>
            </p>

            <ul>
                <li>Baş-yüz ağrısı sendromları ve migren</li>
                <li>Baş dönmesi ve denge bozukluğu sendromları</li>
                <li>Bilinç kaybı (bayılma) atakları ve epilepsi</li>
                <li>Beyin damar hastalıkları</li>
                <li>Alzheimer hastalığı ve diğer demans (bunama) sendromları</li>
                <li>Parkinson hastalığı ve diğer hareket bozuklukları</li>
                <li>Multipl Skleroz ve diğer demiyelinizan hastalıklar</li>
                <li>Kas hastalıkları</li>
            </ul>

            <p><strong>Bölümümüzdeki bazı uygulamalar;&nbsp;</strong></p>

            <ul>
                <li>Manyetik Rezonans (MR)</li>
                <li>Bilgisayarlı Tomografi (BT)</li>
                <li>Elektrosensefalografi (EEG)</li>
                <li>Elektromyografi (EMG)&nbsp;</li>
            </ul>

        </div>
    </div>
</div>

