@{
    ViewData["Title"] = "Otolaryngology Page";
}



<div class="row">
    <div class="list-group">
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Emergency">Acil Servis</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Brain">Beyin ve Sinir Cerrahisi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/CheckUp">Check-Up</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Child">Çocuk Sağlığı ve Hastalıkları</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/InternalMedicine">Dahiliye</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Dermatology">Dermatoloji</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/GeneralSurgery">Genel Cerrahi</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Eyes">Göz Hastalıkları</a>
        <a class="list-group-item bg-warning text-light" href="/Bolumlerimiz/Otolaryngology">Kulak Burun Boğaz</a>
        <a class="list-group-item bg-primary text-light" href="/Bolumlerimiz/Neurology">Nöroloji</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <img class="img-fluid rounded mb-4" src="/images/hospital/kulak-burun-bogaz-hastaliklari-1.png" alt="">

            <p>
                <strong>Kulak Burun Boğaz</strong><br>
            </p>

            <p>
                Kulak Burun Boğaz Bölümümüzde; kulak, burun, boğaz ve ilgili baş boyun hastalıklarının teşhis ve tedavisini gerçekleştirmekteyiz.<br>
                <br>
                Gelişmiş teknolojiye dayalı tanı ve tedavi yöntemlerinin kullanıldığı bölümümüzde; endoskopik ve mikroskobik işlemler ile duyma ve denge sistemi&nbsp;hastalıklarının muayene, tetkik ve tedavisini yapılmaktadır. Kulak Burun Boğaz ameliyatları ve baş boyun tümörlerine yönelik onkolojik cerrahi operasyonlar da başarıyla uygulanmaktadır.<br>
                <br>
                Hastalarımızın; acil, poliklinik ve yatarak tedavileri deneyimli uzman kadromuz ile güncel teşhis ve tedavi yöntemleri kullanarak en etkin şekilde gerçekleştirilmektedir.<br>
                <br>
                <strong>Kulak Burun Boğaz Bölümümüzün hizmet alanına giren hastalıklar;</strong><br>
                <br>
                <strong>Kulak Hastalıkları</strong><br>
                &nbsp; *&nbsp;&nbsp; Kulak Hastalıkları ve İşitme Bozuklukları<br>
                &nbsp; *&nbsp;&nbsp; Kulak enfeksiyonları<br>
                &nbsp; *&nbsp;&nbsp; İşitme kayıpları<br>
                &nbsp; *&nbsp;&nbsp; Denge hastalıkları<br>
                &nbsp; *&nbsp;&nbsp; Baş dönmesi<br>
                &nbsp; *&nbsp;&nbsp; Çınlama<br>
                <br>
                <strong>Burun Hastalıkları</strong><br>
                &nbsp; *&nbsp;&nbsp; Kronik sinüzit<br>
                &nbsp; *&nbsp;&nbsp; Burun alerjileri<br>
                &nbsp; *&nbsp;&nbsp; Koku alma bozuklukları<br>
                &nbsp; *&nbsp;&nbsp; Burun kanamaları<br>
                &nbsp; *&nbsp;&nbsp; Burun tıkanıklığı ve burnun dış görünümü ile ilgili problemler<br>
                &nbsp; *&nbsp;&nbsp; Burun polipleri<br>
                &nbsp; *&nbsp;&nbsp; Gözyaşı bezi tıkanıklıkları gibi hastalıkları<br>
                <br>
                <strong>Boğaz Hastalıkları</strong><br>
                &nbsp; *&nbsp;&nbsp; Geniz eti ve bademcikle ilgili problemler (sık enfeksiyon ve aşırı büyüklük, vb.)<br>
                &nbsp; *&nbsp;&nbsp; Horlamaya ve uykuda nefes durmasına sebep olan yumuşak damak ve küçük dildeki sarkmalar<br>
                &nbsp; *&nbsp;&nbsp; Ses teli hastalıkları (enfeksiyon, polip, nodül, vb.)<br>
                &nbsp; *&nbsp;&nbsp; Larengofarengeal reflü (mide asidinin yukarı kaçması nedeniyle boğaz yapılarında oluşturduğu&nbsp; bozukluklar)<br>
                &nbsp; *&nbsp;&nbsp; Dudak, dil ve ağız içerisindeki kitleler<br>
                &nbsp; *&nbsp;&nbsp; Tükürük bezi enfeksiyonları, taşları ve kitleleri<br>
                &nbsp; *&nbsp;&nbsp; Yutma problemleri<br>
                &nbsp; *&nbsp;&nbsp; Baş ve boyun bölgesindeki enfeksiyonlar, kitleler ve tümörlerin tedavisi<br>
                &nbsp; *&nbsp;&nbsp; Çene eklemi hastalıkları<br>
                &nbsp; *&nbsp;&nbsp; Yüz ve çene kemiklerinin kırıklarının tedavisi<br>
                <br>
                <strong>Çocuklarda Kulak Burun Boğaz Hastalıkları</strong><br>
                &nbsp; *&nbsp;&nbsp; Nefes almada güçlük<br>
                &nbsp; *&nbsp;&nbsp; Orta kulak enfeksiyonları<br>
                &nbsp; *&nbsp;&nbsp; Bademcik ve geniz eti hastalıkları<br>
                &nbsp; *&nbsp;&nbsp; Alerji ve sinüs hastalıkları
            </p>

        </div>
    </div>
</div>

