@{
    ViewData["Title"] = "AboutUs Page";

}


<div class="list-group ">
    <a class="list-group-item bg-warning text-light" href="/Kurumsal/AboutUs">Hakkımızda</a>
    <a class="list-group-item bg-primary text-light"  href="/Kurumsal/PatientRights">Hasta Hak ve Sorumlulukları</a>
    <a class="list-group-item bg-primary text-light"  href="/Kurumsal/VisitorRights">Ziyaretçi ve Refakatçi Politikası</a>
</div>
<div class="col-md-9 col-sm-12 col-xs-12 pull-right">
    <div>
        <img class="img-fluid rounded mb-4" src="/images/hospital/hastaneResim.jpg" alt="">

    </div>
    <div>
        <p>Sağlık sektöründe 1995 yılından bu zamana kadar başarılı bir geçmişe sahip olan Ümit Hastanesi Haziran 2014 tarihinden itibaren Sakarya’nın önde gelen iş adamı Ümit Kocabıçak bünyesindeki şirketler grubuna dahil olmuştur. Sakarya ve Doğu Marmara Bölgesi’nin ilk ve en büyük hastanesi olan Ümit Hastanesi, sağlık sektöründe “öncü” yeni hizmet birimleri açmada “girişimci” acil hizmetlerde “hızlı” teşhis ve tedavide “başarılı” bir yol alarak ilerlemeyi ilke edinmiştir.</p>
        <p>Ümit Hastanesi, ihtiyaç duyulan her tür sağlık hizmetini aynı kalitede ve standartta sunan, erişilebilir ve yaygın sağlık hizmetleriyle güçlü bir marka olarak yoluna devam edecektir. Türk halkının beklediği sağlık hizmetleri anlayışının nabzını tutan Ümit Hastanesi; bu duyarlılıkla sürekli yenilenerek sektörünün de öncüsü olacaktır.</p>
        <p>Hizmet kalitesini her geçen gün artırarak sağlık hizmetine bölgesinde öncülük eden ve dünya standartlarında donanım ve alt yapıya sahip olan Ümit Hastanesi, tanı ve tedavide teknolojinin ulaştığı en üst düzeyde hizmet vermektedir. İleri teknoloji ürünü cihazlarla donatılan görüntüleme üniteleri ve laboratuvarlarıyla hastanemiz hastalarına güvenli bir ortamda tedavi olmanın rahatlığını yaşatmaktadır.</p>
    </div>
</div>
    
