@{
    ViewData["Title"] = "Patient Rights Page";
}




    <div class="list-group ">
        <a class="list-group-item bg-primary text-light" href="/Kurumsal/AboutUs">Hakkımızda</a>
        <a class="list-group-item bg-warning text-light" href="/Kurumsal/PatientRights">Hasta Hak ve Sorumlulukları</a>
        <a class="list-group-item bg-primary text-light" href="/Kurumsal/VisitorRights">Ziyaretçi ve Refakatçi Politikası</a>
    </div>



    <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="content">

            <a data-fancybox="gallery" href="upload/sayfalar/hasta-hakki.jpg">
                <img class="img-fluid rounded mb-4" src="/images/hospital/hastaHaklar.jpg" alt="">
            </a><p>
                <strong>
                    HASTA ve YAKINLARININ HAK VE SORUMLULUKLARI&nbsp;<br>
                    HASTA ve YAKINLARININ HAKLARI
                </strong>
            </p>

            <p>
                <strong>Hizmetlerde Yararlanma Hakkı</strong><br>
                •Sağlık hizmeti alan hastalar ve yakınları, dil, din, ırk, cinsiyet, cinsel tercih, ekonomik ve sosyal durum ayrımı yapılmaksızın tüm hizmetlerden yaralanma hakkına sahiptir.&nbsp;<br>
                •Hastalarımız ve yakınları sunulan tanı ve tedavi hizmetleri ve bu hizmetlere nasıl ulaşacağı konusunda bilgi alma hakkına sahiptirler.
            </p>

            <p>
                <strong>Bilgilendirme ve Onay Hakkı</strong><br>
                Hastalarımız;<br>
                •Bilinci açık ise kendileri veya kendilerinin tayin ettiği, bilinci kapalı ise yasal temsilcileri kanalı ile önerilen tıbbi girişimleri ve her bir girişimin potansiyel risk veya yararlarını,&nbsp;<br>
                •Önerilen girişimlerin alternatiflerini,&nbsp;<br>
                •Tedavisiz kalmanın sonucunda, gelişebilecek komplikasyonları, sağlık durumu hakkında anlayabileceği dil ve yöntemle tam bilgi alma hakkına sahiptir.<br>
                •Hastalarımız talebini yazılı olarak bildirdikleri takdirde, tüm tıbbi kayıt işlemlerinin yazılı bir kopyasını alma hakkına sahiptir.<br>
                •Hastalarımız hastalığı ile ilgili ciddi yan etki riski, ölüm riski, nekahat ile ilgili problemler, tedavi sonucu gibi konularda bilgilendirme yapıldıktan sonra uygulanacak tedaviye karar verme veya reddetme hakkına sahiptir. Hastalarımız bu hakkı kullandığı takdirde, yapılacak işlemlere 'onay verdiğini' kabul etmiş sayılır.<br>
                •Önerilen tedaviyi reddeden hastalar kurumun diğer bakım ve tedavi imkânlarından yoksun bırakılmaz.<br>
                •Hastalarımız, şikâyetçi olduğu hastalığın doğru değerlendirilmesi ve tedavisi konusunda bilgi alma hakkına sahiptir.<br>
                •Hastalarımızın ve ailelerinin (yakınlarının)organ ve diğer dokuları bağışlama konusunda bilgi alma hakları vardır.<br>
                •Hastalarımız hastane misyonu hakkında açıkça bilgi alma hakkına sahiptir.&nbsp;
            </p>

            <p>
                <strong>Planlanan Tedaviyi Reddetme ve Durdurma Hakkı&nbsp;</strong><br>
                •Hastalarımız önerilen tedaviyi reddetme hakkına sahiptir. Tedavinin reddedilmesi halinde olabilecekler hekim tarafından anlatılır ve anlaşıldığına dair yazılı bir belge alınır. Hastalarımızın tedaviyi belgeli olarak reddetmesi halinde hastanemizle ilişiği kesilir. Daha önce tedaviyi reddeden ancak tekrar hastanemize başvuran hastamız gerekli tıbbi bakım ve tedaviyi alma hakkına sahiptir.&nbsp;
            </p>

            <p>
                <strong>Haberleşme Hakkı</strong><br>
                •Lisan (Dil) problemi olan hastalarımız, tedavileri süresince kendi lisanlarını anlayacak tercüman talep etme hakkına sahiptir.
            </p>

            <p>
                <strong>Personeli Tanıma, Seçme ve Değiştirme Hakkı</strong><br>
                •Hastalarımız kendi tedavilerinden sorumlu doktoru, hemşire ve diğer sağlık personelinin kimliklerini, görev ve unvanlarını bilme, seçme ve değiştirme hakkına sahiptir.&nbsp;
            </p>

            <p>
                <strong>Kuruluşu Seçme ve Değiştirme Hakkı</strong><br>
                •Hastalarımız tabi olduğu sağlık mevzuatının öngördüğü usul ve şartlara uyulmak kaydı ile sağlık kurum ve kuruluşunu seçme ve değiştirme hakkına sahiptir.
            </p>

            <p>
                <strong>Mahremiyet (Gizlilik) Hakkı</strong><br>
                •Hastalarımız, ziyaretçiler de dahil olmak üzere, tedavisi ile doğrudan ilgili olmayan kişiler ile konuşmayı ya da bu kişileri görmeyi reddetme hakkına sahiptir.<br>
                •Hastalarımız, hizmet aldıkları tüm noktalarda, görsel ve işitsel gizlilik sağlayacak ortamları isteme hakkına sahiptir.<br>
                •Hastalarımız, diledikleri takdirde, bedelini ödemek koşulu ile ek güvenlik isteme hakkına sahiptir.<br>
                •Hastalarımız, kendilerine ait tıbbi bilgilerin gizliliğinin ölümden sonra bile korunması hakkına sahiptir. Bu bilgiler hastanın ya da varislerinin açık izni ya da mahkeme kararı doğrultusunda ilgili makamlara açıklanır. Tıbbi gereklilik olmadığı ve izin vermediği sürece, hangi gerekçeyle olursa olsun, hastamız kendisine dair özel ve aile yaşamına ilişkin bilgi verilmemesi hakkına sahiptir.&nbsp;
            </p>

            <p>
                <strong>Saygı Görme Hakkı</strong><br>
                •Hastalarımız her zaman her türlü koşulda kişisel itibarları korunarak saygılı ve güler yüzlü bir ortamda tedavi olma hakkına sahiptirler.
            </p>

            <p>
                <strong>Konsültasyon (Danışma) Hakkı</strong><br>
                •Hastanın kendi talebi ve ilave ödemeyi kabul etmesi halinde, farklı branştan bir uzman ile konsültasyon (danışma) yapılmasını talep etme hakkı vardır.
            </p>

            <p>
                <strong>İkinci Görüş İsteme Hakkı</strong><br>
                •Hasta, tedavisi ile ilgilenen hekim dışında aynı branşta görev yapan bir başka hekimden sağlık durumu hakkında bilgi alma hakkına sahiptir.
            </p>

            <p>
                <strong>Dini Vecibelerini Yerine Getirme Hakkı</strong><br>
                •Hastalarımız, hastane kuralları çerçevesinde dini hizmetlerden faydalanma hakkına sahiptir.<br>
                •Temin edilebildiği ölçüde, hasta ve/veya yakının isteği ile hastanın dini ihtiyaçlarına göre bir din görevlisi getirilme hakkı vardır.
            </p>

            <p>
                <strong>Güvenlik Hakkı</strong><br>
                •Herkesin sağlık kurumunda güvenlik içinde olmayı bekleme ve bunu isteme hakkı vardır. Hastaların, ziyaretçi ve refakatçi gibi yakınlarının can ve mal güvenliklerinin korunması ve sağlanması için gerekli tedbirler hastanemizce alınır.&nbsp;<br>
                Refakatçi ve Ziyaretçi Bulundurma Hakkı<br>
                •Hastalarımız, hastanemiz tarafından belirlenen kurallar çerçevesinde refakatçi ve ziyaretçi bulundurma hakkına sahiptirler.
            </p>

            <p>
                <strong>Şikayet / Görüş ve Öneri Bildirme Hakkı</strong><br>
                •Hastalarımız,şikayette bulunma,şikayetlerinin gözden geçirilmesi ve sonuçtan haberdar edilme hakkına sahiptir. Hastalarımız, 6023 sayılı kanun gereğince ilgili meslek kuruluşları ve mahkemelere başvuru hakları saklı kalmak koşulu ile hastanemizin Hasta Hakları Ofisi'ne şikayetlerini bildirme hakkına sahiptir. Şikayetlerin hastanemiz içinde çözülememesi halinde hastalarımız, sağlık kuruluşunun bulunduğu yerin en yüksek idari amirine başvuruda bulunma hakkına sahiptir. Hastalarımız, hukuki hakları içinde, yargıya başvurma hakkına sahiptir.
            </p>

            <p>
                <strong>Sağlık Kuruluşu Kural ve Uygulamaları</strong><br>
                •Hastalarımız kendilerine uygulanacak hastane kural ve uygulamaları konusunda bilgi edinme hakkına sahiptirler.
            </p>

            <p>
                <strong>Tetkik ve Tedavi Bedellerini Bilme Hakkı</strong><br>
                •Hastalarımız tedavi öncesinde tedavi hizmet bedellerini öğrenme ve daha sonra aldıkları hizmet karşılığında ödediği bedellerin açık ve detaylı faturasını isteme ve alma hakkına sahiptir.
            </p>

            <p>
                <strong>Sosyal ve Psikolojik Destek Alma Hakkı</strong><br>
                •Hastalarımız, tanı konulması işlemlerine veya tedaviye engel olmadığı sürece, kendilerine özgü kıyafetlerini giyme ve inançlarıyla ilgili görev ve/veya sembolleri kullanma, sosyal ve psikolojik destek alma, refakatçi bulundurma ve ziyaretçi kabul etme hakkına sahiptir.
            </p>

            <p><strong>HASTA ve YAKINLARININ SORUMLULUKLARI</strong></p>

            <p>
                <strong>Bilgi Verme</strong><br>
                •Hasta yakınmaları, daha önce geçirdiği hastalıkları, yatarak ve ayaktan herhangi bir tedavi görüp görmediğini, eğer varsa halen kullanıldığı ilaçları ve sağlığı ile ilgili tüm bilgileri eksiksiz ve doğru olarak vermelidir.
            </p>

            <p>
                <strong>Önerilere Uyma</strong><br>
                •Hastamız tedavisinden sorumlu doktor tarafından önerilen tedavi planına uymakla ve doktorun talimatları doğrultusunda ilgili sağlık personelinin bakımını yerine getirmesini kabullenmekle de yükümlüdür.<br>
                Hasta ve tedavisi ve ilaçlar ile ilgili tavsiyeleri dikkatle dinlemeli ve anlamadığı yerleri hekimine sormalıdır.Planlanan Tedaviyi Reddetme<br>
                •Hastamız doktoru tarafından planlanan tedaviyi reddetmek ile doğacak sonuçlardan kendi sorumludur.
            </p>

            <p>
                <strong>Sağlık Kuruluşu Kurallarına Uyma&nbsp;</strong><br>
                •Hastalarımız ve yakınları, sağlık kuruluşumuzun kurallarına uymak ve uygulamak ile sorumludur.<br>
                •Hasta; randevusunun tarih ve saatine uyması ve değişiklikleri ilgili yere bildirmesi gerekir.
            </p>

            <p>
                <strong>Saygı Gösterme</strong><br>
                •Hastalarımız ve yakınları, diğer hastalar ile hastane personelinin haklarını &nbsp;ihlal edecek davranışlarda bulunmamalıdır.<br>
                •Hastanemiz içinde hastaları tehlikeye sokan gürültü, duman ve ziyaretçi sayısının fazlalığı gibi durumlarda hastanemizin kurallarına uymalıdır.
            </p>

            <p>
                <strong>Enfeksiyon Kontrol</strong><br>
                •Hasta ve yakınları enfeksiyon hastalıklarının yayılmaması için kendilerine önerilen tüm önlemlere uymaktan sorumludur.
            </p>

            <p>
                <strong>Bulaşıcı Hastalığı Bildirme Sorumluluğu</strong><br>
                •Daha önce farklı bir kurumda bulaşıcı hastalık teşhisi koyulan hasta, durumunu hekimine bildirmek ile sorumludur.<br>
                •Bulaşıcı hastalık şüphesi ya da tanısı olan hastalarımız, yetkili hekimin taburcu olmasında sakınca olmadığını gösteren izin belgesi olmadıkça, hastaneden taburcu olmayı talep etmemelidir.
            </p>

            <p>
                <strong>Ödeme Sorumluluğu</strong><br>
                •Hastalarımız tetkik ve tedavi giderlerini ödemek ile sorumludur. Demirbaş ve sarf malzemelerine kasıtlı olarak zarar veren hasta ve yakınlarımızın bunu ödeme sorumluluğu vardır.
            </p>

            <p>
                <strong>Hasta Ziyaretçisi</strong><br>
                •Hastalarımızın aynı anda mümkün olduğunca az ziyaretçi kabul etmesi, ziyaretçilerin yiyecek, içecek getirmemesi, başka hastalara ait eşyaları kullanmaması, hastane ziyaret saatlerine uyma sorumluluğu vardır.
            </p>

            <p>
                <strong>Uygunsuz İstekte Bulunmama Sorumluluğu</strong><br>
                •Hastalarımız, yetkili hekim tarafından uygun görülmeyen ve tedavi planında bulunmayan herhangi bir ilacın verilmesini ya da uygulama yapılmasını talep etmemelidir.
            </p>

        </div>
    </div>
</div>

