@{
    ViewData["Title"] = "Visitor Rights Page";
}



        <div class="list-group ">
            <a class="list-group-item bg-primary text-light" href="/Kurumsal/AboutUs">Hakkımızda</a>
            <a class="list-group-item bg-primary text-light" href="/Kurumsal/PatientRights">Hasta Hak ve Sorumlulukları</a>
            <a class="list-group-item bg-warning text-light" href="/Kurumsal/VisitorRights">Ziyaretçi ve Refakatçi Politikası</a>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
            <div>
                <img class="img-fluid rounded mb-4" src="/images/hospital/ziyaretci.jpg" alt="">

            </div>
            <div class="content">
                <p><strong>Değerli Ziyaretçi ve Refakatçilerimiz;</strong></p>

                <p>
                    <br>
                    Hastalarımızın hastanede kaldığı süre içerisinde; yakınlarından destek alması ve sevdikleri ile görüşmesinin iyileşme sürecine olumlu etkide bulunacağının bilincindeyiz. Hastanızın sağlığı ve kendi sağlığınız için aşağıda belirtilen konulara özen göstermenizi rica ederiz.
                </p>

                <p>
                    <strong>REFAKAT KURALLARI</strong><br>
                    - Hastanızın ve diğer hastaların sağlığı için; odalarda sadece 1 refakatçinin konaklamasına izin veriliyor. Aksam saat 22:00 itibari ile odada sadece hasta refakatçisi bulunabiliyor.<br>
                    - Hastalarımıza özel diyet programı uygulanıyor. Refakatiniz süresince sizin için ayrı refakatçi menümüz bulunuyor.<br>
                    - Odanıza; dışarıdan yiyecek ve/veya içecek sokmamanızı rica ediyoruz. Ancak olası yiyecek içecek getirilmesi durumunda ilgili bölüm hasta danışmanı ve/veya sorumlu hemşiresine bilgi vermenizi rica ediyoruz.&nbsp;<br>
                    - Hastanemizde hasta bakımı sadece tıbbi personelimiz tarafından sağlanıyor, hastaya herhangi bir müdahale yapmamanızı önemle rica ediyoruz.<br>
                    - Hastanemizin yoğun bakım bölümlerinde refakatçi uygulaması bulunmuyor. Bu konudaki uyarı ve önlemlere hastanızın iyileşme süreci için hassasiyet göstermenizi; ziyaret saat, süre ve uygulama biçimine uymanızı rica ediyoruz.&nbsp;<br>
                    - Hastanız ve diğer hastaların huzuru için odalar ve servis koridorlarında yüksek sesle konuşmamanızı, gürültü yapmamanızı önemle rica ediyoruz.<br>
                    - Cep telefonu kullanımı konusundaki uyarıları dikkate almanızı rica ediyoruz.<br>
                    - Odalarda bulunan televizyonları başkalarını rahatsız etmeyecek şekilde kullanmanızı rica ediyoruz.<br>
                    - Refakatçi değişimlerinizde kat hemşiresini bilgi verilmesini önemle rica ediyoruz.&nbsp;
                </p>

                <p>
                    <strong>ZiYARET KURALLARI</strong><br>
                    - Hastanemizde ziyaret saatleri; hafta içi ve hafta sonu 10:00 - 22:00 saatleri arasındadır. Farklı bölümlerde ziyaret saati aralıklarımız değişiklik gösterebilir. Bu konuda ayrıntılı bilgiyi ilgili bölümün hasta danışmanı ve/veya sorumlu hemşiresinden alabilirsiniz.<br>
                    - Ziyaret konusundaki olağan dışı durumlarda (acil yatan hasta), supervizör hemşire ile iletişime geçebilirsiniz.<br>
                    - 10 yasından küçük çocukların vücut direnci düşüktür. Çocuğunuzun sağlığını korumak adına ziyarete getirmemenizi öneriyoruz.&nbsp;<br>
                    - Hastanemizde hastalarımıza özel diyet programı uygulamaktayız. Odalara dışarıdan yiyecek - içecek sokmamanızı rica ediyoruz.<br>
                    - Enfeksiyon riski sebebiyle odalara canlı çiçek kabul edemiyoruz. Çiçeğinizi taburcu olduktan sonra hastanıza vermek üzere “çiçek kartı” karşılığında görevli kişiye teslim etmenizi rica ediyoruz.&nbsp;<br>
                    - Ameliyat veya cerrahi işlem sonrasında hastanızın doktoru bilgi vermek için odaya gelecektir, bu sebeple operasyon sırasında hastanızı odasında beklemenizi rica ediyoruz. Ameliyat sonrasında hastanızın sağlığı için odada aynı anda iki ziyaretçiden fazlasının bulunmamasını önemle rica ediyoruz.&nbsp;<br>
                    - Ziyaretiniz esnasında hijyen açısından hasta yataklarına oturmamanızı önemle rica ediyoruz.<br>
                    - Ziyaretiniz esnasında el hijyeni, sizin ve hastanız için büyük önem taşımaktadır. Bu nedenle hasta odalarında bulunan el dezenfektanlarını ziyaret öncesi ve sonrası kullanmaya özen göstermenizi rica ediyoruz.<br>
                    - Ziyaret süresini her ziyaretiniz için 10 dakika ile sınırlandırmanızı rica ediyoruz.<br>
                    - Hastanede bulunduğunuz süre boyunca diğer hastalarımızın da konforu için rahatsızlık verecek hareketlerden kaçınmanızı önemle rica ediyoruz.&nbsp;<br>
                    - Cep telefonu kullanımı konusundaki uyarıları dikkate almanızı önemle rica ediyoruz.
                </p>

            </div>
        </div>
    </div>
</div>
